@charset "UTF-8";
/*
 **功能：公用样式表
 **
 **/

 /*初始化标签样式*/
 body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,p{
 	margin:0;
 	padding:0;
 }
 ul{
 	list-style: none;
 }
 a{
 	color: #666;
 	text-decoration: none;
 }
 input,button{
 	outline: none;
 }
 /*显示设置H5标签类型:兼容老版本浏览器*/
 header,footer,nav,aside,article,section{
 	display: block;
 }
 /*清除浮动*/
 .clearfix {
 	*zoom: 1
 }
 
 .clearfix:before,.clearfix:after {
 	content: " ";
 	display: table
 }
 
 .clearfix:after {
 	clear: both
 }

.clearFloat {
    zoom: 1;
}
.clearFloat:after {
    content: '';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
 /*浮动*/
 .fl{float: left;}
 .fr{float: right;}

::-webkit-input-placeholder { /* WebKit browsers */
　　color:#999;
}
　　:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　　color:#999;
}
　　::-moz-placeholder { /* Mozilla Firefox 19+ */
　　color:#999;
}
　　:-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:#999;
}
fieldset, img{
	border: 0;
}

/*****公共样式*****/
